<div class="recipes recipes-list-item">
    <div class="recipes-cover">
        <img src="https://placehold.co/1280x720/2E7D32/ffffff/png" alt="">
    </div>
    <div class="recipes-title-container">
        <h2 class="recipes-title"> Lorem ipsum</h2>
    </div>
    <div class="infor-recipes">
        <span class="recipes-user-author"> <i class="fa-solid fa-user"></i> Matheus peixoto</span>
        <span class="recipes-date"> <i class="fa-solid fa-calendar-days"></i> 16/07/2025 </span>
        <span class="recipes-type">  <i class="fa-solid fa-mug-hot"></i> <a href="">Café a manhã </a></span>
    </div>

    <div class="recipes-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat obcaecati consequuntur facere velit repellendus id totam, doloribus architecto corporis omnis animi rem distinctio fuga laborum corrupti error iste, sunt odit?</p>

    </div>

    <div class="recipes-meta-container">
        <div class="recipes-meta recipe-preparation">
            <h3 class="recipe-meta-title"> <i class="fa-solid fa-bell"></i> Preparo </h3>
            <div class="recipes-meta-text">
                0 minutos
            </div>
            
        </div>

        <div class="recipes-meta recipes-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i> Porções</h3>
            <div class="recipes-meta-text">
                0 Porções
            </div>
        </div> 
    </div>

    <footer class="recipes-footer">
        <a class="recipes-footer-link" href="">
            <i class="fa-solid fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>

</div>